body {
    margin: 0;
    padding: 0;
    /* Background image settings */
    height: 100vh;
    background-image: url("images/windows-wallpaper.jpg");
    background-size: cover;     /* Scale to fill the page */
    background-position: center;
    background-repeat: no-repeat;
}

.window {
    width: 30%;
    transform: translate(100%, 60%);
}

.window-body {
    display: flex; gap:5px;
}

#about {
    height: 90px; 
    overflow-x: auto;
}

#contact-info {
    display: flex;
    flex-direction: column;
}

#projects {
    height: 90px; 
    width:270px; 
    overflow-x: auto
}

#projects details {
    margin-left: 1.5rem;
}

@media (max-width: 599px) {
    .window {
        width: 100%;
        transform: translate(0%, 50%);
    }
    #projects {
        width: 237px;
    }
}

@media (min-width: 600px) and (max-width: 899px) {    
    .window {
        width: 60%;
        transform: translate(50%, 100%);
    }
    #projects {
        width: 291px;
    }
}