body {
    margin: 0;
    padding: 0;
    /* Background image settings */
    height: 80vh;
    background-image: url("./personal-website/images/windows-wallpaper.jpg");
    background-size: cover;     /* Scale to fill the page */
    background-position: center;
    background-repeat: no-repeat;
}

.window {
    width: 50%;
    margin: 100px 100px 0 600px;
}

#about > .content {
    display: flex;
    justify-content: space-between;
}

#contact-info {
    display: flex;
    flex-direction: column;
}

#projects details {
    margin-left: 1.5rem;
}